extends layout

mixin cardItem(item)
  .card
    img(src=item.imgSrc, alt=item.imgAlt, srcset="")
    p.card_text= item.desc
    button(type="button" class="btn__details") Show more!

block content
  h1 Welcome to #{title} App
  .container
    each dish in dishes
      +cardItem(dish)
