body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

body {
  background: lavenderblush;
  text-align: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: burlywood;
  text-shadow: 2px 2px 1px lightgrey;
}
.card{
  margin: auto;
  padding: 15px 10px;
  background: blanchedalmond;
  width: 320px;
  height: 520px;
  border-radius: 7px;
  transition: all .25s ease-in-out ;
}
.card_text{
  color: aliceblue;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 1px 1px 5px black;
  font-weight: bold;
  font-size: medium;
  margin: 10px auto;
}
img {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.card:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  /* position: relative;
  top: -1px;
  left: 0; */
  transform: translateY(-5px);
  transition: all .5s ease-in-out .2s;
}
